{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Lifestyle Electronics
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides" style="height:500px">
    <ul class="slides-container">
        <li class="text-left">
            <img src="{% static 'images/bg1.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br>  Pet Culture</strong></h1>
                        <p class="m-b-40">One Stop destination for all your Pets needs...</p>
                        <p><a class="btn hvr-hover" href="/products">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="{% static 'images/bg2.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Pet Culture </strong></h1>
                        <p class="m-b-40">10% instant discount up to ₹ 10,000 on all products</p>
                        <p><a class="btn hvr-hover" href="/products">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="{% static 'images/bg3.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Pet Culture</strong></h1>
                        <p class="m-b-40">Free shipping on all the products accross the world</p>c
                        <p><a class="btn hvr-hover" href="/products">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<div class="mt-2">
    <div class="shadow p-2 rounded" style="background-color:#e9ecef; color:black">
        <div class="container">
            <div class="row text-center font-weight-bold">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products">All Products</a></p>
                </div>
                {% for category in categories %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products/?category={{category.id}}">{{category.category_name}}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Start Products  -->
<div class="products-box" style="padding:30px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            {% if product.tag == 'Featured' %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded border border-4">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <img src="{{product.product_img.url}}" class="img-fluid" alt="Image">
                    </div>
                    <div class="why-text text-center font-weight-bold" style="height:155px;">
                        <h4><a href="/productdetail/{{product.id}}">{{product.product_name}}</a></h4>
                        <h5>₹ {{product.price|intcomma}}</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{product.id}}" class="btn hvr-hover cart" style="color:white">Buy Now</a>
                            <a href="/addtocart/{{product.id}}" class="btn hvr-hover cart" style="color:white">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="products-box" style="padding:20px 0px;" id="mobiles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Pet Food</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for food in petfood %}
            <div class="col-lg-3 col-md-6 special-grid" >
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{food.id}}">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{food.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:155px;">
                        <h4><a href="/productdetail/{{food.id}}">{{food.product_name}}</a></h4>
                        <h5>₹ {{food.price|intcomma}}</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{food.id}}" class="btn hvr-hover cart" style="color:white">Buy Now</a>
                            <a href="/addtocart/{{food.id}}" class="btn hvr-hover cart" style="color:white">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products?category=1" class="btn hvr-hover" style="color:white">Show All</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Pet Vaccine</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for vacc in petvacc %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{vacc.id}}">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{vacc.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:155px;">
                        <h4><a href="/productdetail/{{vacc.id}}">{{vacc.product_name}}</a></h4>
                        <h5>₹ {{vacc.price|intcomma}}</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{vacc.id}}" class="btn hvr-hover cart" style="color:white">Buy Now</a>
                            <a href="/addtocart/{{vacc.id}}" class="btn hvr-hover cart" style="color:white">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products/?category=2" class="btn hvr-hover" style="color:white">Show All</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Pets</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for pe in pets %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{pe.id}}">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{pe.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:155px;">
                        <h4><a href="/productdetail/{{pe.id}}">{{pe.product_name}}</a></h4>
                        <h5>₹ {{pe.price|intcomma}}</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{pe.id}}" class="btn hvr-hover cart" style="color:white">Buy Now</a>
                            <a href="/addtocart/{{pe.id}}" class="btn hvr-hover cart" style="color:white">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products/?category=3" class="btn hvr-hover" style="color:white">Show All</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Accessories</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for accer in petaccessories %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{accer.id}}">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{accer.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:155px;">
                        <h4><a href="/productdetail/{{accer.id}}">{{accer.product_name}}</a></h4>
                        <h5>₹ {{accer.price|intcomma}}</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{accer.id}}" class="btn hvr-hover cart" style="color:white">Buy Now</a>
                            <a href="/addtocart/{{accer.id}}" class="btn hvr-hover cart" style="color:white">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products?category=6" class="btn hvr-hover" style="color:white">Show All</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Grooming</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for groom in petgroom %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{groom.id}}">
                    <div class="box-img-hover ctr" style="height:255px;">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{groom.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:155px;">
                        <h4><a href="/productdetail/{{groom.id}}">{{groom.product_name}}</a></h4>
                        <h5>₹ {{groom.price|intcomma}}</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{groom.id}}" class="btn hvr-hover cart" style="color:white">Buy Now</a>
                            <a href="/addtocart/{{groom.id}}" class="btn hvr-hover cart" style="color:white">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products?category=8" class="btn hvr-hover" style="color:white">Show All</a>
            </div>
        </div>
    </div>
</div>
<!-- End Products  -->

{% endblock %}